<!DOCTYPE html>
<html>
  <head>
  <link type="text/css" rel="stylesheet" media="all" href="/assets/stylesheets/application.css">
  </head>

<body>     
	<div class="header">
		<h1>Having a change of heart?</h1>
	</div>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>


<div class="footer"
<h3>Powered by Tash</h3>
</div>

</body>