<!DOCTYPE html>
<html>
  <head>
  	<link type="text/css" rel="stylesheet" media="all" href="/assets/stylesheets/application.css">
  </head>
<body>
	<div class="header">
		<h1>Deep thoughts with Tash</h1>
 	</div>
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>


</body>